{% extends "layout.html" %}

{% block title %}Pyramid Scheme Translator{% endblock %}

{% block head %}
    <script src="static/js/upload.js"></script>
{% endblock %}

{% block body %}
    <p>In <a href="https://pyramid.hackclub.com/">Pyramid Scheme</a> you can generate a poster PDF or merged poster PDF and translate it with this tool.</p>
    <p>If you want to test the tool feel free to use one of the translation templates bellow.</p>
    <div class="form">
        <div class="form-title">
            Translate Your Poster(s)!
        </div>
        <div class="form-contents">
            <div class="form-file-entry-container">
                <div class="form-file-entry">
                    <label for="generated_posters">Poster from <a href="https://pyramid.hackclub.com/">Pyramid Scheme</a></label>
                    <div class="folder-tab">
                        <input type="file" name="generated_posters" id="generated_posters" accept=".pdf"/>
                    </div>
                </div>
                <div class="form-file-entry">
                    <label for="translated_poster">Poster Translation Template (see bellow)</label>
                    <div class="folder-tab">
                        <input type="file" name="translated_poster" id="translated_poster" accept=".pdf"/>
                    </div>
                </div>
            </div>
            
            <button onclick="handleUpload()" name="translate_posters" value="TranslatePosters" class="form-submit" id="translate_posters">
                Translate!
            </button>
        </div>
    </div>
    <p>If you want you can test it with the premade translation templates!</p>
    <ul>
        <li><b>Printer Efficient (Spanish)</b></li>
        <li><a href="static/translation_templates/es/ConstructPrinterEfficient.pdf" target="_blank">Construct</a></li>
        <li><a href="static/translation_templates/es/FlavortownPrinterEfficient.pdf" target="_blank">Flavortown</a></li>
    </ul>
{% endblock %}

